body {
 
}
div.col-sm-3 {
    background-color: #228378;
    max-width: 8%;
    height: 100vh;
    display:block;
}
#solmenubuton {
    color: white;
}
#logo {
    float: left;
    width: 100px;
    height: 50px;
    margin: 0px 0px;
    margin-left:20px;
}

