<link href="~/Content/btngroup.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<button id="Btn1" type="button" class="btn btn-outline-dark">Ödeme Ekle</button>
<button id="Btn1" type="button" class="btn btn-outline-dark">Sigorta Primi</button>
<button id="Btn1" type="button" class="btn btn-outline-dark">Banka Gideri</button>
<button id="Btn1" type="button" class="btn btn-outline-dark">Vergi Gideri</button>
<button id="Btn1" type="button" class="btn btn-outline-dark">Tekrarlayan Gider</button>
<button id="Btn1" type="button" class="btn btn-outline-dark">Kasadan Nakit Çıkışı</button>

