

<div>
    <h1 class="h3 mb-0 text-gray-800">Kasalar</h1>
    <br />
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal" data-target="#kasaEkle">
        <i class="fa fa-plus fa-sm text-white-50"></i> Kasa Ekle
    </a>
    <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fa fa-tasks fa-sm text-white-50"></i> İşlemler
    </a>
</div>

<div class="modal fade" id="kasaEkle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Kasa Ekle</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control form-control" placeholder="Kasa Adı">
                <br />
                <input type="text" class="form-control form-control" placeholder="Açılış Bakiyesi">
                <br />
                <div class="form-group">
                    <label for="sel1">Para Birimi</label>
                    <select class="form-control" id="sel1">
                        <option>TL</option>
                        <option>USD</option>
                        <option>EURO</option>
                        <option>SAR</option>
                    </select>
                </div>


            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">İptal</button>
                <a class="btn btn-primary" href="login.html">Ekle</a>
            </div>
        </div>
    </div>
</div>