<link href="~/Content/Index.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<button id="Btn1" type="button" class="btn btn-outline-dark">Satış</button>
<button id="Btn1" type="button" class="btn btn-outline-dark">İade</button>
<button id="Btn1" type="button" class="btn btn-outline-dark">Tahsilat Ekle</button>

